@charset "UTF-8";

;
}
h1{
    font-family: 'terror';
    font-style: normal;
    font-size: 3em;
    font-weight: normal;
}
}

h1{
    font-family: 'terror';
    font-size: 1em;
    font-weight: normal;
}